<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
          <div class="container-fluid">
            <a class="navbar-brand" routerLink="/pokemons" >Pokemons</a>
          </div>
          <div class="container-fluid">
            <a class="navbar-brand" routerLink="/login" >Login</a>
          </div>
        </nav>
      </div>
    <div class="content-wrapper">
        <router-outlet></router-outlet>
    </div>
</body>
</html>
